<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <%= image_tag "project1.png", class: "img-responsive img-circle", width: "256", height: "256" %>
                <div class="intro-text">
                    <span class="name"> <%= @name %> </span>
                        <div id="typed-strings">
                            <% @header_intro.each do |x| %>
                                <p> <%= x %> </p>
                            <% end %>
                        </div>
                        <span id="typed" style="white-space:pre;"></span>
                    <hr class="star-light">
                    <span class="skills"> Wonkwang University Computer Engineering 3rd  - Web Developer </span>
                    <p style="padding:20px"> Email : <%= @email %> </p>
                    <div class="col-lg-8 col-lg-offset-2">
                        <ul class="list-inline top-social">
                            <!-- <li>Follow Me:</li> -->
                            <li> <%= link_to '<i class="fa fa-facebook fa-2x"></i>'.html_safe, @facebook_url %> </li>
                            <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
                            <li> <%= link_to '<i class="fa fa-github fa-2x"></i>'.html_safe, @github_url %> </li>
                            <li> <%= link_to '<i class="fa fa-linkedin fa-2x"></i>'.html_safe, @linkedin_url %> </li>
                            <li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- type.js -->
<script>
$(function(){

    $("#typed").typed({
        // strings: ["Typed.js is a <strong>jQuery</strong> plugin.", "It <em>types</em> out sentences.", "And then deletes them.", "Try it out!"],
        stringsElement: $('#typed-strings'),
        typeSpeed: 100,
        backDelay: 500,
        loop: true,
        contentType: 'html', // or text
        // defaults to false for infinite loop
        loopCount: false,
        callback: function(){ foo(); },
        resetCallback: function() { newTyped(); }
    });

    $(".reset").click(function(){
        $("#typed").typed('reset');
    });

});

function newTyped(){ /* A new typed object */ }

function foo(){ console.log("Callback"); }

</script>

<style>
    /* code for animated blinking cursor */
    .typed-cursor{
        opacity: 1;
        font-weight: 100;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        -ms-animation: blink 0.7s infinite;
        -o-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }
    @-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-webkit-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-moz-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-ms-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-o-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
</style>
